<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PartnerDashboardImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
           
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <PartnerDashboardImport.Properties.Settings>
            <setting name="proxylist" serializeAs="String">
                <value>http://G02DEPXABGB000.g02.fujitsu.local:82,http://G02DEPXMCHQ000.g02.fujitsu.local:82,http://abgproxya.abg.fsc.net:82,http://abgproxya.abg.fsc.net:81,http://mchproxya.mch.fsc.net:82</value>
            </setting>
            <setting name="logmailto" serializeAs="String">
                <value>christian.werning@public7.de</value>
            </setting>
            <setting name="logmailcc" serializeAs="String">
                <value>andrea.franz-roggel@public7.de</value>
            </setting>
            <setting name="logmailfrom" serializeAs="String">
                <value>christian.werning@public7.de</value>
            </setting>
            <setting name="showall" serializeAs="String">
                <value>pdbexjsh,pdbexmka,pdbexafr,pdbexrde,prabhakasext,maierp,abgkrebsn,hbgbschr,hmbldreh,mchborth,mchhczie,mchgkeck,ktnmmorg,ternietenf,hmbsfand,werningcext,mchoreis</value>
            </setting>
            <setting name="PartnerDashboardImport_SF_SforceService" serializeAs="String">
                <value>https://fujitsu.my.salesforce.com/services/Soap/u/38.0</value>
            </setting>
        </PartnerDashboardImport.Properties.Settings>
      
    </applicationSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="D:\aspnet-mail"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>